node_modules

*.log

mongodb_data
redis_data

ada-school-firebase.json

src/scripts/data

.vscode/*
!.vscode/launch.json

build

.env

tmp_db_export

.DS_Store

coverage

data_bi_exports

test_requests
